<div class="row">
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estado</th>
          <th scope="col">Nombre Especialista</th>
          <th scope="col">Tipo Consulta</th>
          <th scope="col">Cantidad de Pacientes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consulta of consultas">

          <th scope="row"> {{consulta.consultas_id }}</th>
          <td> {{ consulta.estado }}</td>
          <td> {{ consulta.nombre_especialista }}</td>
          <td> {{ consulta.tipo_consulta }}</td>
          <td> {{ consulta.cant_pacientes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <a routerLink='/maspacientesatendidos' type="button" class="btn btn-primary btn-lg btn-block">Consulta con más pacientes atendidos</a>
    <button type="button" (click)="liberarConsultas()" class="btn btn-primary btn-lg btn-block">Liberar Consultas</button>
  </div>
</div>
